[tool.black]
line-length = 88
target-version = ["py312"]
skip-string-normalization = false

[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = ["E", "F", "I", "Q"]
ignore = ["E501"]

[tool.ruff.lint.flake8-quotes]
inline-quotes = "double"

[tool.ruff.lint.per-file-ignores]
"config/settings/*.py" = ["F403", "F405"]
