[tool.black]
line-length = 88
target-version = ["py314"]

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 88
select = ["E", "F", "I"]
ignore = ["E501"]
fix = true

[tool.mypy]
python_version = "3.14"
ignore_missing_imports = false
